{% extends 'base.html.twig' %}
{% block title 'travail demandé' %}

{% block body %}
<div class="jumbotrom text-center">
    <h1>travail demandé</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, quis aliquam unde sed maiores sit! </p>
</div>

{% endblock %}