{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-lg-8 align-center">
        <h1>Create new user</h1>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {{  include ('user/form.html.twig', { button: 'Créer'}) }}
    </div>
{% endblock %}